[bumpversion]
current_version = 6.0.0
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:CHANGELOG.md]
search = ## [v{current_version}] - 2024-12-15
replace = ## [v{new_version}]

[bumpversion:file:config.yaml]
search = version: {current_version}
replace = version: {new_version}
